.view-purse {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 360px;
  height: 210px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background: linear-gradient(25deg, rgba(230,230,230,1), rgba(245,245,245,1));
  
  & > div {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: 30px 60px 100px;
    grid-template-columns: 100%;
    position: relative;
    .id {
      font-weight: 600;
      font-size: 1.4rem;
      grid-row: 1;
      grid-column: 1;
      i {
        font-size: 0.8rem;
      }
    }
    .values {
      grid-row: 2;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 0.8rem;
      font-weight: 400;
    }
    .big-price {
      font-size: 2rem;
      font-weight: 600;
      font-style: italic;
      position: absolute;
      bottom: 10px;
      left: 10px;
      height: 95px;
      color: #136;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .big-price-title {
        height: 30px;
        font-size: 1.5rem;
      }
      .prices {
        display: flex;
        flex-direction: column;
        .formated-amount-rev {
          height: 27px;
          font-size: 1.3rem;
        }
        .formated-amount-dust {
          height: 20px;
          font-size: 1.0rem;
        }
        .per-token {
          font-size: 0.8rem;
        }
      }
    }
    .operations-toggle-buttons {
      position: absolute;
      right: 0px;
      bottom: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      padding-right: 10px;
    }
    .full-square {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(25deg, rgba(230,230,230,1), rgba(245,245,245,1));
      padding: 10px;
      grid-row: inherit;
      grid-column: inherit;
      display: grid;
      grid-template-rows: 35px 30px 75px 45px;
      grid-template-columns: 50% 50%;
      .is-5 {
        text-decoration: underline;
        font-size: 1.2rem;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .update-purse-price {
      .validate-operation-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
        .underlined-link {
          margin-right: 10px;
        }
      }
      .new-price-field {
        grid-column: 1;
        grid-row: 2;
        input {
          max-width: 140px;
          font-size: 0.8rem;
        }
      }
      .prices {
        padding: 4px;
        padding-top: 12px;
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        .formated-amount-dust {
          overflow: visible;
          white-space: pre;
          white-space: pre;
        }
        .formated-amount-rev {
          overflow: visible;
          white-space: pre;
          font-weight: 400;
        }
        .not-for-sale {
          margin-top: 10px;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: 600;
          font-style: italic;
        }
        .per-token {
          font-size: 0.8rem;
        }
      }
    }
    .withdraw {
      .box-withdraw-fields {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        .label {
          margin: 0px;
        }
        .field {
          margin: 0px;
        }
        input {
          max-width: 140px;
          font-size: 0.8rem;
        }
      }
      .validate-operation-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
        .underlined-link {
          margin-right: 10px;
        }
      }
    }
    .share-image {
      .image-fields {
        grid-row-start: 2;
        grid-row-end: 4;
        .label {
          margin: 0px;
        }
        .field {
          display: inline-block;
          margin-bottom: 0px;
          width: 170px;
          height: 30px;
        }
        .help {
          white-space: pre;
        }
      }
      .preview {
        width: 170px;
        height: 85px;
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        position: relative;
        .background {
          width: 100%;
          height: auto;
          z-index: 1;
        }
        .mascot {
          z-index: 2;
          position: absolute;
          top: -5px;
          left: 30px;
          width: 100px;
          height: auto;
        }
      }
      .validate-operation-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
        .underlined-link {
          margin-right: 10px;
        }
      }
    }
  }
}
