@import "/style/variables.scss";

.you-will-purchase-control {
  margin-top: 10px;
  .d-network {
    //background: rgb(124, 68, 177);
    background: linear-gradient( 20deg, $dNetwork, rgb(205, 170, 238));
    border: 1px solid $dNetwork;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.2rem;
  }
}