@import "../../style/variables.scss";

.dapps {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  &.dapps-list-1 {
    grid-template-columns: 100%;
    & > .right {
      grid-row: 1;
      grid-column: 1;
      z-index: 1;
    }
    & > .dapps-sandboxed {
      grid-row: 1;
      grid-column: 1;
      z-index: 2;
    }
  }
  &.dapps-list-2 {
    @media screen and (min-width: 960px) {
      grid-template-columns: 320px calc(100% - 320px);
    }
    @media screen and (max-width: 959px) {
      grid-template-columns: 220px calc(100% - 220px);
    }
    @media screen and (max-width: 769px) {
      grid-template-columns: 160px calc(100% - 160px);
    }
    & > .left {
      grid-row: 1;
      grid-column: 1;
      border-right: 1px solid rgba(0,0,0,0.05);
      background: linear-gradient(20deg, #bababa, #f0f0f0);
    }
    & > .right {
      grid-row: 1;
      grid-column: 2;
      z-index: 1;
      background: $background;
      &.search-focused {
        z-index: 3;
      }
    }
    & > .dapps-sandboxed {
      grid-row: 1;
      grid-column: 2;
      z-index: 2;
    }
  }
  &.dapps-list-3 {
    grid-template-columns: 28px calc(100% - 28px);
    & > .left {
      grid-row: 1;
      grid-column: 1;
      border-right: 1px solid rgba(0,0,0,0.05);
      background: linear-gradient(20deg, #cfcfcf, #f2f2F2);
    }
    & > .right {
      grid-row: 1;
      grid-column: 2;
      z-index: 1;
      background: $background;
      &.search-focused {
        z-index: 3;
      }
    }
    & > .dapps-sandboxed {
      grid-row: 1;
      grid-column: 2;
      z-index: 2;
    }
  }
}
