html {
  overflow-y: hidden;
}

body {
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: linear-gradient(45deg, #46c, #44a);
}

#root.loaded {
  background: radial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
#root.loading {
  background: #111;
}
#root.loading:before {
  content: "Loading";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
#root {
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.genesis-form {
  margin-top: 100px;
  padding-bottom: 30px;
  font-size: 1.2em;
  color: #fff;
}
.genesis-form label {
  color: #fff;
  font-size: 1em;
}
.genesis-form > p,
.genesis-form > .field {
  max-width: 600px;
}

.tip-board {
  margin-top: 100px;
  max-width: 1450px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tip-board .description {
  white-space: break-spaces;
  margin-bottom: 10px;
}
.is-3 {
  color: #fff;
}
p {
  color: #fff;
}
.contribution-form {
  width: 780px;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px;
  padding-bottom: 10px;
}
.emojis-list {
  width: 400px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.emojis-list span{
  cursor: pointer;
  width: 10px;
  height: 12px;
  font-size: 1.1rem;
  padding: 1px;
}
.emojis-list span:hover{
  transform: scale(1.05);
  background-color: rgba(255,255,255,0.9);
}
.cell-form {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}
.contribution-form label,
.cell-form .total-price {
  color: #fff;
}
.label-emoji {
  font-size: 1.6rem;
  margin: 0px;
  margin-left: 4px;
}
.cell-form .total-price {
  height: 36px;
}
.cell-form > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5px;
}
.cell-form > div input {
  max-width: 175px;
}
.emoji-btn:hover {
  color: #fff;
}
.emoji-btn {
  color: #fff;
  text-decoration: underline;
}
.small-p {
  font-size: 0.9rem;
}
.tips {
  margin-top: 20px;
}
.tips > p {
  margin-bottom: 2px;
  font-size: 1.1rem;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 200px 63px 180px;
  opacity: 1;
  transform: translateY(0px);
  animation: slide;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
.tips > p .emoji {

}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bottom,
.bottom-2 {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 10px;
}

.modal {
  display: block;
}
.modal-card {
  margin-top: 100px;
}

.has-text-danger {
  text-align: center;
}
