body {
  --font-family: "Fira Sans", sans-serif;
  --text-main-color: #999;
  --text-secondary-color: #fff;
  --card-bg-color: #222;
  --card-border-color: #3b4040;
  --card-font-size: 1.25rem;
  --border-radius: 5px;
  --bg-image: repeating-linear-gradient(
    45deg,
    #000,
    #030303 1px,
    #111 1px,
    #111 5px
  );
}

@import './default.scss';
@import './black.scss';
@import './pink.scss';