.theme-black {
  background-image: repeating-linear-gradient(45deg, #000, #030303 1px, #111 1px, #111 5px);
  .search-dapps {
    color: #fff;
  }
  .tab-list-item.focused {
    background: rgba(255, 255, 255, 0.3);
  }
  .tab-list-item.active {
    background: rgba(255, 255, 255, 0.1);
  }
  .tab-list-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .tab-title {
    color: #fff;
  }
  .root-left.menu {
    // background: linear-gradient(20deg, #000, #333);
    background: #111;
    .menu-list li {
      a {
        color: #ddd;
      }
      a.is-active {
        background-color: transparent;
        text-decoration: underline;
        font-weight: 800;
        color: #fff;
      }
    }
  }
  .navigation-bar-home {
    .form {
      input::placeholder {
        color: #666;
      }
      input {
        color: #fff;
        background: transparent;
      }
    }
  }
  .network-switcher {
    p {
      color: #eee;
      a {
        color: #eee;
      }
    }
  }
  .tabs-list-3 {
    .tab {
      background: linear-gradient(45deg, #000, #202020);
      border: 1px solid rgba(255, 255, 255, 0.4);
      .host span {
        color: rgba(255, 255, 255, 0.8);
      }
      &.active {
        border: 1px solid rgb(217 255 232 / 80%);
        box-shadow: 0px 0px 8px rgb(227 255 247 / 80%);
        .host span {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .resources {
    background: transparent;
    .display-error {
      background: transparent;
      .load-error {
        .message {
          background: rgba(255, 255, 255, 0.1);
          h4,
          p {
            color: #fff;
          }
        }
      }
      .retry {
        background: transparent;
        & > div {
          color: #ddd;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .navigation-bar {
      background: #111;
      // border-bottom: 1px solid $background-dark;
      & > div.disabled {
        i {
          color: #666;
        }
      }
      & > div:not(.disabled) {
        i {
          color: #ddd;
          &:hover {
            color: #fff;
          }
        }
        i.disabled {
          color: #666;
        }
      }
      .form {
        input::placeholder {
          color: #666;
        }
        input {
          background-color: transparent;
          color: #ddd;
          border: none;
          font-size: 1.2rem;
        }
        .lock-div {
          border-color: rgba(#000, 0.4);
          .app-type {
            color: #eee;
          }
          &.resource-loaded:hover {
            cursor: pointer;
            background: #222;
            &:active {
              background: #222;
            }
            .app-type {
              color: #fff;
            }
          }
          i {
            color: #fff;
          }
        }
        .tip-div {
          &:not(.resource-loaded) > i:hover {
            color: #aaa;
          }
          i {
            color: #aaa;
          }
          &.resource-loaded {
            i {
              color: #eee;
            }
          }
        }
      }
    }
  }
  .ac-appCard {
    font-size: var(--card-font-size);

    .ac-header a {
      color: var(--text-main-color);
    }
    
    .ac-header .ac-buttonBar button {
      color: var(--text-main-color);
    }
    
    .ac-header .ac-buttonBar button:hover {
      color: var(--text-secondary-color);
    }
    
    .ac-pageTabs .ac-tab {
      background-color: var(--card-bg-color);
      border: 1px solid var(--card-border-color);
      border-bottom: 0;
      background-color: #191919;
    }
    
    .ac-pageTabs .ac-tab i {
      color: var(--card-border-color);
      font-size: 6px;
    }
    
    .ac-pageTabs .ac-tab.ac-selected {
      background-color: var(--card-bg-color);
    }
    
    .ac-pageTabs .ac-tab.ac-selected i {
      color: var(--text-main-color);
    }
    
    .ac-pageTabs :not(.ac-selected) {
      border: 1px solid var(--card-bg-color);
    }

    .ac-wallets {
      color: var(--text-main-color);
      border-left: 0;
      border-top-right-radius: calc(2 * var(--border-radius));
      border-bottom-right-radius: calc(2 * var(--border-radius));
      background-color: #333;
      position: absolute;
      left: -1px;
      bottom: 1.5rem;
      padding-right: 1rem;
      flex: inherit;
      right: 3rem;

      .ac-label {
        color: var(--text-main-color);
        /* border-right: 1px solid var(--card-border-color); */
        padding: 1rem;
      }

      .ac-value {
        margin: 1rem;
      }
    }
  }
  
  .ac-pageCard {
    background: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    position: relative;
    text-decoration: none;

    .ac-content {
      color: var(--text-main-color);
    }
    
    .ac-content .ac-title {
      color: var(--text-secondary-color);
    }
    
    .ac-content .ac-description {
      height: 3.5rem;
    }
  }
}