.theme-black {
  --font-family: 'Fira Sans', sans-serif;
  --text-main-color: #999;
  --text-secondary-color: #fff;
  --bg-main-color: #111;
  --bg-secondary-color: #333;
  --border-color: #3b4040;
  --card-font-size: 1.25rem;
  --border-radius: 5px;
  --bg-image: repeating-linear-gradient(
    45deg,
    #000,
    #030303 1px,
    var(--bg-main-color) 1px,
    var(--bg-main-color) 5px
  );
  --ac-tab-active-background: rgb(99, 161, 169);
  --ac-pagecard-background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 1) 100%);
  --ac-pagecard-active-background: linear-gradient(90deg, #102a20 0%, #222d2e 100%);
  --ac-pagecard-active-border: 1px solid #1e6a6c;
}
