.theme {
  background-image: var(--bg-image);
  .tb-button {
    i {
      color: var(--text-main-color);
    }
    &:hover {
      i {
        color: var(--text-secondary-color);
      }
    }
  }
  .search-dapps {
    color: var(--text-secondary-color);
  }
  .simple-tab {
    .tab-title {
      color: var(--text-main-color);
    }
  }
  .tab-list-item.focused {
    background: rgba(255, 255, 255, 0.3);
  }
  .tab-list-item.active {
    background: rgba(255, 255, 255, 0.1);
  }
  .tab-list-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .tab-title {
    color: var(--text-secondary-color);
  }
  .root-left.menu {
    background: var(--bg-main-color);
    .menu-list li {
      a {
        color: var(--text-main-color);
      }
      a.is-active {
        background-color: transparent;
        text-decoration: underline;
        font-weight: 800;
        color: var(--text-secondary-color);
      }
    }
  }
  .navigation-bar-home {
    .form {
      input::placeholder {
        color: var(--text-main-color);
      }
      input {
        color: var(--text-secondary-color);
        background: transparent;
      }
    }
  }
  .network-switcher {
    p {
      color: var(--text-secondary-color);
      a {
        color: var(--text-secondary-color);
      }
    }
  }
  .resources {
    background: transparent;
    .display-error {
      background: var(--bg-image);
      .load-error {
        .message {
          background: rgba(255, 255, 255, 0.1);
          h4,
          p {
            color: var(--text-main-color);
          }
        }
      }
      .retry {
        background: transparent;
        & > div {
          color: var(--text-main-color);
          &:hover {
            color: var(--text-secondary-color);
          }
        }
      }
    }
    .navigation-bar {
      background: var(--bg-main-color);
      // border-bottom: 1px solid $background-dark;
      .actions {
        .nb-button {
          i {
            color: var(--text-main-color);
          }
        }
        .nb-button:not(.disabled) {
          &:hover {
            i {
              color: var(--text-secondary-color);
            }
          }
        }
      }
      .form {
        .addressBar {
          background-color: var(--bg-secondary-color);
          color: var(--text-main-color);
          border: none;
          font-size: 1.2rem;
          border-radius: var(--border-radius);

          &::placeholder {
            color: var(--text-main-color);
          }
        }
        .lock-div {
          border-color: var(--border-color);
          .app-type {
            color: var(--text-secondary-color);
          }
          &.resource-loaded:hover {
            cursor: pointer;
            background: var(--bg-secondary-color);
            &:active {
              background: var(--bg-secondary-color);
            }
            .app-type {
              color: var(--text-secondary-color);
            }
          }
          i {
            color: var(--text-secondary-color);
          }
        }
        .tip-div {
          &:not(.resource-loaded) > i:hover {
            color: var(--text-main-color);
          }
          i {
            color: var(--text-main-color);
          }
          &.resource-loaded {
            i {
              color: var(--text-secondary-color);
            }
          }
        }
      }
    }
  }
  .ac-appCard {
    font-size: var(--card-font-size);

    .ac-header a {
      color: var(--text-main-color);
    }

    .ac-header .ac-buttonBar button {
      color: var(--text-main-color);
    }

    .ac-header .ac-buttonBar button:hover {
      color: var(--text-secondary-color);
    }

    .ac-pageTabs .ac-tab {
      background-color: var(--bg-main-color);
      border: 1px solid var(--border-color);
      background-color: var(--bg-secondary-color);
    }

    .ac-pageTabs .ac-tab i {
      color: var(--border-color);
      font-size: 6px;
    }

    .ac-pageTabs .ac-tab.ac-selected {
      background-color: var(--bg-main-color);
    }

    .ac-pageTabs .ac-tab.ac-selected i {
      color: var(--text-main-color);
    }

    .ac-pageTabs :not(.ac-selected) {
      border: 1px solid var(--bg-main-color);
    }

    .ac-wallets {
      color: var(--text-main-color);
      border-left: 0;
      border-top-right-radius: calc(2 * var(--border-radius));
      border-bottom-right-radius: calc(2 * var(--border-radius));
      background-color: var(--bg-secondary-color);
      position: absolute;
      left: -1px;
      bottom: 1.5rem;
      padding-right: 1rem;
      flex: inherit;
      right: 3rem;

      .ac-label {
        color: var(--text-main-color);
        padding: 1rem;
      }

      .ac-value {
        margin: 1rem;
      }
    }
  }

  .ac-pageCard {
    background: var(--bg-main-color);
    background-size: 400% 400%;
    background: var(--ac-pagecard-background);
    background-position: 0% 0%;
    transition: all ease-in-out 0.2s;
    border: 1px solid var(--border-color);
    position: relative;
    text-decoration: none;
    &:hover {
      background: var(--ac-pagecard-active-background);
      border: var(--ac-pagecard-active-border);
    }
    &.active {
    }
    .ac-content {
      color: var(--text-main-color);
    }

    .ac-content .ac-title {
      color: var(--text-secondary-color);
    }

    .ac-content .ac-description {
      height: 3.5rem;
    }
  }
}
