.theme-pink {
  --font-family: 'Fira Sans', sans-serif;
  --text-main-color: #ffe5fb;
  --text-secondary-color: #fff;
  --bg-main-color: #ce9ac5;
  --bg-secondary-color: #d10ab0;
  --border-color: #005760;
  --card-font-size: 1.25rem;
  --border-radius: 5px;
  --bg-image: linear-gradient(180deg, var(--bg-main-color), var(--bg-secondary-color));
}
