.evm-account {
  position: relative;
  height: 12rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem 6rem 3rem;
  width: 25rem;
  padding: 0.5rem 1rem;

  .header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    .name {
      font-weight: 600;
      &:hover {
        color: black;
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .body {
    align-self: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    .bottom-actions {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
  .link-network {
    grid-row: 4;
    padding-left: 0.5rem;
    position: absolute;
    bottom: -2rem;
    img {
      width: 1.5rem;
    }
    .linked-network {
      a {
        display: flex;
        align-items: center;
        color: #333;
        font-weight: 600;
      }
    }
    .networks {
      display: flex;
      justify-content: flex-start;
      a {
        color: #111;
      }
      .fa {
        font-size: 1.1rem;
        transform: translateY(2px);
        cursor: pointer;
      }
      img {
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
