.evm-account {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem 7rem 2rem;
  width: 25rem;
  padding: 0.5rem 1rem;

  .header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    .name {
      font-weight: 600;
      &:hover {
        color: black
      }
    }
    .actions {
      justify-self: end;
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  .body {
    align-self: center;
    .address {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .footer {
    align-self: end;
    justify-self: end;
  }
}