.transaction-modal {
  .form-to {
    margin-top: 0.75rem;
  }
}
.transaction-form {
  max-width: 800px;
  .message {
    margin-bottom: 0.75rem;
  }
  .text-danger {
    transform: translateY(-0.3rem);
  }
  .identify-public-key {
    max-width: 530px;
    word-break: break-word;
  }

  @media screen and (max-width: 768px) {
    p.control {
      display: none;
    }
  }

  @media screen and (min-width: 992px) {
    input[type=text] {
        width: 540px;
    }
  }
  .account-form {
   .use-private-key {
     margin-left: 0px;
   }
  }
}