@import "/style/variables.scss";

.contract-logs {
  .logs {
    height: 20rem;
    overflow-y: auto;
  }

  .tbody {
    display: grid;
    overflow-y: auto;
    max-height: 20rem;
    grid-template-columns: repeat(5, min-content);
    column-gap: 1rem;
  }
  .tbody > div {
    justify-self: start;
  }
  .tbody > span {
    white-space: nowrap;
    padding: 0;
  }
  .tbody > span:nth-child(5n) {
    justify-self: end;
  }
} 