.container {
  padding-top: 40px;
}

.title.is-2,
.title.is-4,
.title.is-3 {
  font-weight: 300;
}
.left-menu a {
  height: 35px;
  color: #363636;
  text-decoration: underline;
}

.tokens-data,
.bags {
  background-color: #ccc;
  padding: 5px;
  font-size: 0.9em;
  border: 1px solid #777;
  border-radius: 2px;
  word-break: break-all;
}

.tokens-data > span {
  display: block;
}

.tokens hr,
.tokens-data hr {
  background-color: #777;
  margin: 0.5rem 0;
  height: 1px;
}
.bags .bag {
  margin: 2px 0;
}
.bags .bag span {
  display: block;
}

.locked-p {
  word-break: break-all;
}

.locked-t {
  margin-top: 20px;
  margin-bottom: 5px;
}

.note {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.registry-uri-input {
  width: 580px;
  margin-right: 5px;
}

.menu-list .is-static {
  text-decoration: blink;
  cursor: default;
}
