@import "../../style/variables.scss";

.settings-view-box {
  .is-4 {
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 10px;
    background-color: #363636;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: fit-content;
  }
  .is-5 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  & > button  {
    margin-bottom: 20px;
  }
  .square {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-left: 5px;
  }
  .view-box{
    margin-bottom: 20px;
    &.special {
      border: 2px solid $dNetwork;
      background:  linear-gradient(25deg, lighten($dNetwork, 22%), lighten($dNetwork, 30%));;
      border-radius: 3px;
      padding: 16px;
      .address-and-copy {
        margin-bottom: 20px;
        .tag.is-light {
          transform: translateY(-4px);
        }
        .address {
          font-size: 1.6rem;
          color: darken($dNetwork, 20%);
        }
      }
    }
  }
  .super-keys {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .super-key {
      .square {
        margin-right: 5px;
      }
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      border: 1px solid #ccc;
      background: linear-gradient(25deg, rgba(0,0,0,0.03), rgba(0,0,0,0.08));
      margin-bottom: 10px;
    }
  }
}