.view-purses-contract-name {
  font-size: 2rem;
  text-decoration: underline;
}
.address-and-copy {
  justify-content: flex-start;
  margin-bottom: 10px;
  span:not(.tag) {
    font-weight: 400;
    font-size: 1.8rem;
    margin-right: 5px;
  }
  .tag.is-light {
    font-weight: 800;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px;
    font-size: 1.6rem;
  }
  a.underlined-link {
    margin-left: 10px;
  }
}
.x-by-100-purses {
  font-weight: 400;
  font-size: 1rem;
}
.more-purses {
  font-size: 2rem;
  height: 70px;
}
.view-purses {
  .no-purses {
    font-weight: 400;
    font-size: 1.2rem;
  }
}