@import "/style/variables.scss";

.settings-names {
  z-index: 2;
  .show-only {
    .checkbox input {
      margin-right: 10px;
    }
  }
  .belongs-to-an-account, .belongs-to-an-account:hover {
    background: rgba(35,229,96, 0.2) !important;
  }
  .table {
    margin-bottom: 20px;
  }
  tbody tr th {
    font-weight: normal;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    .is-light {
      margin-right: 5px;
    }
    &.name {
      font-weight: bold;
    }
    span.publicKey {
      text-overflow: ellipsis;
      max-width: 320px;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }
  }
}
