.update-record-form {
  max-width: 700px;
  & > .field {
    display: grid;
    grid-template-columns: 230px calc(100% - 230px);
    grid-template-rows: 100%;
    label {
      grid-row: 1;
      grid-column: 1;
    }
    .control {
      grid-row: 1;
      grid-column: 2;
    }
  }
  .text-danger {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .inline-control {
    display: flex;
    button {
      margin-left: 5px;
    }
    input {
      width: 200px;
    }
  }
}