.modal.est {
  pre {
    white-space: pre-wrap;
  }
}

.modal-card-body-sign-ethereum-modal .transaction-body {
  border: 1px solid #ccc;
  padding: 1rem;
  background: linear-gradient(20deg, #dadada, #efefef);
  border-radius: 4px;
  margin-bottom: 1rem;
  .field:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  input, .field-label {
    padding: 0px;
  }
  input {
    height: 2rem;
  }
}