.network-switcher {
  padding-left: 1rem;
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  p {
    color: #fff;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
