@import "../../style/variables.scss";

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: start;
}

.froggy {
  width: 300px;
  height: 95px;
  justify-self: start;
  display: grid;
  grid-template-columns: 64px 140px;
  grid-template-rows: 100%;
  .text {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;

    & > div {
      width:100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding-bottom: 10px;
      .title {
        padding-left: 10px;
        color: #111;
        margin-bottom: 0px;
      }
      .is-1 {
        font-size: 2rem;
        margin-bottom: 5px;
      }
      .is-2 {
        font-size:1rem;
      }
    }
  }
  .froggy-01 {
    width:45px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(7px);
  }
}

.dnetwork {
  justify-self: end;
  transform: scale(1.0);
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.03);
    background: linear-gradient(20deg, rgb(76, 18, 131), rgb(169, 88, 245));
  }
  width: 490px;
  height: 230px;
  border: 2px solid rgb(90, 10, 165);
  border-radius: 3px;
  background: linear-gradient(20deg, rgb(56, 11, 99), rgb(146, 65, 223));
  color: #fff;
  padding: 20px 18px;
  h4 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: rc;
    &.purchase {
      margin-top: 5px;
      a {
        color: #fff;
        font-size : 1.4rem;
        text-decoration: underline;
      }
    }
  }
}

.content {
  overflow-y: hidden;
}

.fetch-contract {
  grid-column: 1;
  display: grid;
  grid-template-rows: $navigationBarHeight auto;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(200deg, rgba(255, 255, 255, 0.2), rgba(200, 200, 200, 0.6));
  .navigation-bar {
    grid-row: 1;
    grid-column: 1;
  }
  .home-page {
    background-image: repeating-linear-gradient(45deg, rgba(140, 140, 140, 0.1), rgba(140, 140, 140, 0.1) 1px, transparent 1px, transparent 5px);
    background-size: 8px 8px;
    
    //background-image: url('../../images/bgsky05.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px auto 120px;
    .img {
      grid-row: 1;
      grid-column: 1;
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    .topright {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 2;
      .around-dnetwork-1 {
        border: 2px solid rgb(205, 170, 238);
        padding: 6px;
        transform: scale(1.0);
        &:hover {
          transition: all ease-in-out 0.3s;
          transform: scale(1.03);
        }
      }
      .around-dnetwork-2 {
        border: 2px solid rgb(124, 68, 177);
        padding: 4px;
      }
      
    }
    
    .botleft {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    /* @media screen and (max-width: 1200px) {
      .botleft {
        justify-content: flex-start;
        align-items: center;
      }
    } */
    .botright {
      grid-row: 2;
      grid-column: 2;
    }
    .deploy-dapp {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 100%;
      .img span {
        width: 80px;
        height: 80px;
      }
      .dapp-right {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p a {
          float: right;
        }
        .link {
          color: #fff;
          text-decoration: underline;
          font-weight: 400;
          cursor: pointer;
          margin-bottom: 10px;
          font-size: 1.2rem;
          &:hover {
            font-weight: 600;
          }
          i {
            min-width: 25px;
          }
          .fa-money-check {
            transform: translateX(-5px);
          }
        }
        button {
          justify-content: flex-start;
          margin-bottom: 15px;
          font-weight: 300;
          font-size: 1.1rem;
        }
        .deploy {
          background: linear-gradient(45deg, #035863, #32639c);
          color: #fff;
          
        }
      }
      h4 {
        font-size: 1.6rem;
        font-weight: 400;
      }
/*       &.hexagons {
        border: 2px solid rgb(195, 67, 16);
        //background: linear-gradient(20deg, rgb(129, 48, 17),rgb(207, 92, 46));
      }
      &.tipboard {
        border: 2px solid rgb(9, 9, 41);
        background: linear-gradient(20deg, rgb(39, 45, 98),rgb(54, 61, 124));
      } */
    }

    .is-2 {
      font-size: 1.5rem;
    }
  }
}
