@import '../../style/variables.scss';

.home2 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 50px 140px calc(100% - 50px - 60px - 140px);
  grid-template-columns: 100%;
  & > .navigation-bar-home {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
  }
  & > .resources {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column: 1;
    z-index: 2;
  }
}
