.load-state {
  ul li {
    &.unforgeable-name, &.publickey {
      max-width: 100%;
      word-break: break-all;
    }
  }
  .completeds, .errors {
    width: 100%;
    & > div {
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-rows: 100%;
      margin: 4px 0px;
      .tag {
        width: 100px;
      }
    }
  }
  .completeds:not(:last-of-type) {
    border-bottom: 1px solid #AAA;
  }
}