@import '../../style/variables.scss';

.simple-tab {
  display: grid;
  grid-template-columns: 38px auto;
  padding-left: 1rem;
  & > div {
    display: flex;
    align-items: center;
    justify-self: flex-start;
  }
  .tab-favicon {
    width: 25px;
    height: 25px;
    background: #faf;
  }
  .tab-title {
    user-select: none;
    max-width: 600px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.tabs-list-2 {
  margin-left: 8px;
  padding-left: 8px;
  max-width: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  &.only-icons {
    overflow: hidden;
  }
  .buttons {
    height: 55px;
    margin: 0px;
    padding-right: 5px;
    justify-content: flex-end;
  }
  .no-dapps {
    height: 30px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search-dapps {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
  &.active {
    // background: $tab-active;
  }
}

.search-dapps-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
  i {
    margin: 0;
  }
}
