// bulma variables
$menu-item-color: #f2f2f2;
$menu-item-hover-color: #fff;
$menu-item-hover-background-color: rgba(0, 0, 0, 0.1);
$menu-item-active-color: #fff;
$menu-item-hover-background-color: rgba(0, 0, 0, 0.1);

// custom
$primary: #036873;
$menu-bottom: #035873;
$link: #485fc7;

$background: #fafafa;
$background-dark: #eaeaea;
$tab-active:  #eee;
$tab-focused:  #fff;

$pending: #363636;
$aired: #209cee;
$failed: #cc2143;
$abandonned: #cc2143;
$completed: #23d160;
$warning: #e9792f;
$code: #363636;
$signed: #B28DFF;

$table-row-active-background-color: rgba(28,165,126,0.9);
// $table-row-active-color: hsl(0, 0%, 21%);

// preview suggestion
$preview-search: lighten($primary, 10%);

$record-color: #0d69ac;

$dNetwork: rgb(124, 68, 177);

$themePink: #fc03d3;
$themePinkDark: #d10ab0;
$themePinkDisabled: #ce9ac5;