body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.genesis-form,
.page-text {
  width: 95%;
  min-height: 95%;
}

.genesis-form > p,
.genesis-form > .field {
  max-width: 1200px;
}

.modal {
  display: block;
}
.modal-card {
  margin-top: 100px;
}

.has-text-danger {
  text-align: center;
}

.note {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.update-page {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

/* apply bulma css sizes to tags */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 15px;
}
