@import "../style/variables.scss";
@import "node_modules/bulma/sass/utilities/initial-variables.sass";

li.dappy {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  height: 66px;
  padding-bottom: 5px;
  .version {
    padding-left: 2px;
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    .update {
      color: #ffdd57;
      text-decoration: underline;
      cursor: pointer;
      margin-left: 5px;
    }
  }
}

.mobile-menu {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
  background: $menu-bottom;
  border-radius: 4px;
  width: 200px;
  &.collapsed {
    width: 55px;
    .menu-mobile-list.top {
      margin-bottom: 0px;
    }
  }
  .menu-mobile-list.top {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;

    li.bars {
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:active {
        background: lighten($menu-bottom, 20%);
      }
    }
    li.dappy {
      font-size: 1.6rem;
      height: 50px;
      padding-left: 0px;
    }

    a {
      color : #fff;
    }
  }
  .menu-list {
    li {
      a {
        font-size: 1.2rem;
        font-weight: 600;
        i.rotated-d {
          font-family: fira;
          font-weight: 700;
          font-style: normal;
          transform: rotate(-15deg);
          font-size: 1.4rem !important;
        }
        &.is-active {
          background-color: #023b41;
        }
      }
    }
    li:last-of-type {
      border-radius: 0px 0px 4px 4px;
    }
    .update a{
      color: #ffdd57;
      text-decoration: underline;
    }
  }
}
