@import "../style/variables.scss";
@import "node_modules/bulma/sass/utilities/initial-variables.sass";

li.dappy {
  &.long {
    font-size: 1.3rem;
  }
  &.short {
    font-size: 2rem;
  }
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  .version {
    padding-left: 2px;
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    .update {
      color: #ffdd57;
      text-decoration: underline;
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
li.update-available {
  color: #fff;
  font-size: 0.9rem;
  .warning {
    color: $warning !important;
  }
}

.root-left.menu {
  &.menu-dev {
    padding-top: 10px;
    // background: linear-gradient(20deg, #000, #002);
    ul ul {
      border: none;
    }
  }
  .menu-list.top {
    &.collapsed {
      flex-direction: column;
    }
    &.not-collapsed {
      li.with-img {
        height: auto;
      }
      li:nth-child(1) {
        -webkit-user-select: none;
        user-select: none;
        -webkit-app-region: drag;
      }
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      li.update-available {
        a {
          padding: 0px;
          margin: 0px;
        }
        a:hover {
          background-color: transparent;
        }
      }
    }
  }
  &.collapsed {
    a {
      text-align: center;
      i.rotated-d {
        transform: rotate(-15deg) !important;
      }
    }
  }
  .menu-list li {
    position: relative;
    a {
      font-weight: 600;
    }
    a:hover {
      cursor: default;
    }
    i.rotated-d {
      font-family: fira;
      font-weight: 700;
      font-style: normal;
      transform: rotate(-15deg) translateX(0.25rem);
      font-size: 1.4rem !important;
    }
    i.fa {
      font-size: 1.3em;
      width: 26px;
    }
    i.fa-eye, i.fa-eye-slash {
      font-size: 0.8em;
      position: absolute;
      right: 0;
      top: 13px;
    }
  }
  .drag-side {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
  }
}
