@import '../style/variables.scss';
@import 'node_modules/bulma/sass/utilities/initial-variables.sass';

li.update-available {
  color: #fff;
  font-size: 0.9rem;
  .warning {
    color: $warning !important;
  }
}

.root-left.menu {
  width: 96px;
  &.menu-dev {
    padding-top: 10px;
    // background: linear-gradient(20deg, #000, #002);
    ul ul {
      border: none;
    }
  }
  .menu-list.top {
    &.collapsed {
      flex-direction: column;
    }
    li.with-img {
      height: auto;
    }
    li:nth-child(1) {
      -webkit-user-select: none;
      user-select: none;
      -webkit-app-region: drag;
    }
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .menu-list li {
    position: relative;
    font-size: 1rem;
    a {
      font-weight: 600;
      padding-left: 17px;
    }
    a:hover {
      cursor: default;
    }
    i.rotated-d {
      font-family: fira;
      font-weight: 700;
      font-style: normal;
      transform: rotate(-15deg) translateX(0.25rem);
      font-size: 1.4rem !important;
    }
    i.fa {
      font-size: 1.3em;
      width: 26px;
    }
    i.fa-eye,
    i.fa-eye-slash {
      font-size: 0.8em;
      position: absolute;
      right: 0;
      top: 13px;
    }
  }
  .drag-side {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
  }
}
