@import "../style/variables.scss";

@keyframes col {
  0% { background: #111; }
  50% { background: $primary; }
  100% { background: #111; }
}
@keyframes glissement {
  0% { left: 0px; }
  45% { left: calc(100% - 12px); }
  55% { left: calc(100% - 12px); }
  100% { left: Opx; }
}

@keyframes scaleout {
  0% { opacity: 1; transform: scale(1);  }
  80% { opacity: 0; }
  100% { transform: scale(2); opacity: 0; }
}

.root {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  .loading {
    background: #eee;
    z-index: 2000;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    &.scaleout {
      animation: scaleout 1s ease-in;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    & > p {
      font-size: 1.3rem;
      font-weight: 600;
      position: relative;
      &:before {
        content: '';
        left: 0px;
        bottom: -16px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        display: block;
        position: absolute;
        animation: glissement 1.3s, col 1.9s;
        animation-iteration-count: infinite;
      }
    }
  }
  &.menu-collapsed {
    grid-template-columns: 55px calc(100% - 55px);
  }
  &.menu-not-collapsed {
    grid-template-columns: 194px calc(100% - 194px);
  }
  & > .root-left {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content auto;
  }
  & > .root-right {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    max-height: 100vh;
    overflow: hidden;

    & > * {
      grid-row: 1;
      grid-column: 1;
      overflow: auto;
    }

    // Only .dapps can be displayed behind one of the other main sections
    & > .accounts {
      z-index: 5;
    }
    & > .settings {
      z-index: 2;
    }
    & > .deploy {
      z-index: 4;
    }
    & > .home {
      z-index: 1;
    }
    & > .transactions {
      z-index: 3;
    }
    .top-window-buttons {

      position: absolute;
      top: 0px;
      right: 15px;
      width: 100px;
      justify-content: space-around;
      height: $navigationBarHeight;
      z-index: 10;

      .drag-top, .drag-bottom {
        left: 0px;
        height: 12px;
        width: 100%;
        position: absolute;
        -webkit-user-select: none;
        user-select: none;
        -webkit-app-region: drag;
      }
      .drag-bottom {
        bottom: 0px;
      }
      .drag-top {
        top: 0px;
      }
      i {
        font-size: 1.1rem;
      }
      .square-max {
        width: 17px;
        height: 17px;
        border-style: solid;
        border-width: 3px;
        border-radius: 4px;
        transform: translateY(-1px);
      }

      i.fa-times {
        font-size: 1.2rem;
      }
    }
  }
  &.is-mobile {
    grid-template-columns: 100%;
    & > .root-right {
      grid-row: 1;
      grid-column: 1;
    }
  }
}
  