.deploy-contract-form {
  max-width: 1100px;
  .terms {
    .term {
      &.selected {
        background: linear-gradient(45deg, #035863, #32639c);
      }
      border: 1px solid #222;
      margin-bottom: 15px;
      padding: 20px;
      background: linear-gradient(45deg, #333, #555);
      color: #fff;
      border-radius: 2px;
      cursor: pointer;
      width: 100%;
      max-width: 900px;
      &:hover:not(.selected) {
        background: linear-gradient(45deg, #444, #555);
      }
      .term-title {
        font-weight: 500;
        font-size: 1.1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
