@import '../../style/variables.scss';

.navigation-bar {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 10rem calc(100% - 10rem - 115px);
  grid-template-rows: 100%;
  .actions {
    display: grid;
    &.actions-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    grid-template-rows: 100%;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        margin: 0px;
      }
      i.fa-times {
        font-size: 1.2rem;
      }
    }
  }
  &.inactive {
    .form {
      .lock-span {
        display: none;
      }
      input {
        border: none;
      }
    }
  }
  &.active {
    .form {
      input {
        border-radius: 0.25rem;
        box-shadow: none;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .form {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .lock-div {
      user-select: none;
      width: 2.5rem;
      transform: translateY(-2px);
      height: 2.25em;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img.lock {
        width: 24px;
      }
      &.resource-loaded:hover {
        cursor: pointer;
      }
    }
    .reset {
      position: absolute;
      right: 50px;
      color: #777;
      cursor: default;
    }
    input {
      padding-left: 0.5rem;
      font-weight: 500;
      &:focus {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15) inset !important;
      }
    }
  }
}
