@import "../../../../node_modules/bulma/sass/utilities/initial-variables.sass";

.benchmark-ok {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30px 30px 70px calc(100% - 130px);
  height: 70px;
  width: 330px;
  .status,
  .responseTime,
  .version,
  .node-info-div,
  .ready-state-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .ready-state-container {
    justify-content: center;
  }

  .responseTime {
    grid-row: 1;
    grid-column: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: darken($green, 25%);
  }
  .version {
    grid-row: 1;
    grid-column: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.lock-container {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .fa-lock {
    color: $green;
  }
}

.ready-state-container {
  grid-row: 1;
  grid-column: 1;
  .ready-state {
    &:before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 7px;
      display: block;
    }
  }
  .ready-state-ok {
    &:before {
      background: $green;
    }
  }
  .ready-state-not-ok {
    &:before {
      background: $red;
    }
  }
}

.benchmark-not-ok {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40px calc(100% - 40px);;
  height: 70px;
  width: 250px;
  .statusText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .statusText {
    grid-row: 1;
    grid-column: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ready-state-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.node-info {
  border: 2px solid #AAA;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width: 29px;
  height: 29px;
  font-size: 0.7rem;
}