.settings-file-upload {
  .smaller-text {
    max-width: 700px;
  }
  .drop-area {
    position: relative;
    textarea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: default;
    }
  }
  .file-properties {
    & > div {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 120px auto;
      .data {
        overflow: hidden;
      }
    }
  }
  
  .signature {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .data {
    display: inline;
    background: rgba(0,0,0,0.1);
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    max-width: 300px;
    white-space: pre;
    text-overflow: ellipsis;
  }
}