.identification-modal, .account-modal {
  .modal-card {
    width: 800px;
  }
  .enter-password {
    color: #aaa
  }
  .private-or-public-key {
    max-width: 450px;
    word-wrap: break-word;
  }
  &.is-tablet, &.is-mobile {
    .private-or-public-key {
      max-width: 300px;
      word-wrap: break-word;
    }
  }
  &.is-tablet {
    .modal-card {
      width: 600px;
    }
  }
  &.is-mobile {
    .modal-card {
      width: 400px;
    }
  }
}